<a href="https://colab.research.google.com/github/FernandoMaya117/learn-innovate/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python**
##**History**
Python is a widely-used, interpreted, object-oriented, and high-level programming language with dynamic semantics, used for general-purpose programming. It was created by Guido van Rossum, and first released on February 20, 1991.

![Python](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_ZTJCHWnSY9OjyiNvUlkP4zcUTrsL4g_T12mq891LW9fCjaJa86zxifzTf7Xvs4ZtCSE&usqp=CAU)

One of the amazing features of Python is the fact that it is actually one person’s work. Usually, new programming languages are developed and published by large companies employing lots of professionals, and due to copyright rules, it is very hard to name any of the people involved in the project. Python is an exception.

Of course, van Rossum did not develop and evolve all the Python components himself. The speed with which Python has spread around the world is a result of the continuous work of thousands (very often anonymous) programmers, testers, users (many of them aren’t IT specialists) and enthusiasts, but it must be said that the very first idea (the seed from which Python sprouted) came to one head – Guido’s.

###**Python goals**

In 1999, Guido van Rossum defined his goals for Python:

an easy and intuitive language just as powerful as those of the major competitors;
open source, so anyone can contribute to its development;
code that is as understandable as plain English;
suitable for everyday tasks, allowing for short development times.
About 20 years later, it is clear that all these intentions have been fulfilled. Some sources say that Python is the third-most popular programming language in the world, while others claim it’s the fifth.

##**How to display a text in Python?**
We write "print", then we open parentheses, following some quotes and inside the quotes goes the text

In [ ]:
print("Hello world")

Hello world

###Librarys
Python is not like other languages, this one already has built-in libraries, at least the most common ones.

##**Comments**
These are used to remember what the program does in that section without having to analyze the entire program. Comments do not appear when the program is executed.
There are one-line comments, using #

In [ ]:
print("Hello my name is Maya")
# The function print is used for show a result or text

Hello my name is Maya

##**Aritmeric Operations**

In [ ]:
print(2+8)

10

In [ ]:
print(8-2)

6

In [ ]:
print(8*2)

16

In [ ]:
print(8/2)

4.0

You only write the print and inside the parentheses, **without quotes** and by putting the operational signs the program already knows what it has to do and prints them automatically without declaring a variable

##**Relational Operators**
Relational operators are symbols used to compare two values. If the result of the comparison is correct, the considered expression is true, otherwise it is false.

"<" smaller than

">" greater than

"<=" less than or equal to

">=" greater than or equal to

In [ ]:
print(7>5)

True

Since 7 is greater than 5 the program returns that it is true

When you use relational operators, the basic operations (addition, subtraction, multiplication, division) are performed first and then the operators.

In [ ]:
print(5*2<80/20)

False

##**Logical operators**

It allows to build logical expressions and from them we obtain Boolean results (true or false)
There are three logical operators, the AND, NOT and the OR.
IN THE AND that in python is written "and" the data that is compared must be both true.
In the OR, "or" only one must be true to give a true result as well. If there are two false, the result is false.
And in the NOT "not", if you deny a true result it gives you false, and if you deny a false it returns a true one.
When you have several operators (as in the hierarchy of operations) they result in a certain order, first the NOT, followed by the AND and finally the OR

In [ ]:
A=5
B=6
C=8
ABC = ((A<C)and(C>=B))
print(ABC)
ABC = ((A<C)and(C>=B)or(B<A))
print(ABC)

True
True

In Python if you declare a variable with some value and print it and then declare it again with another value and print it again, it will show you the two values ​​of the same variable

##**Variable declaretion**
To declare a variable in Python, you just have to write it, without the print and without quotes.
It is not necessary to declare what type of variable it is, the program itself identifies if it is, float, integer, char, among others.

In [ ]:
suma= 5+5
print(suma)

10

##**Text and Variables**

In Python to display variables and texts in the same line, there are 2 ways.

The **first** is to put an "f" just after opening the quotation marks, then the quotation marks go, add the text, open brackets, add your variable, close brackets and quotation marks.

The **second** is to put the text in quotes, then a "," and add your variable, then put the comma and add the other text in quotes.

In [ ]:
Name= "Fernando_Maya"
Age= 18
print(f"My name is {Name}", "and I'm", Age, "years old")

My name is Fernando_Maya and I'm 18 years old

##**Input data**

To enter data to the console, you have to declare a variable then you write the word "input" this will save the data you write. Then as if it were a normal print (but without putting the print) you put the text, with which it will ask for the data that you want the user to enter.

In [ ]:
career= input("what are you studying?")
print(career, "it sounds like it is complicated but interesting")

what are you studying?Mecatronic
Mecatronic it sounds like it is complicated but interesting

##**Conditionals**
The conditionals are the ones that do an action, just after having evaluated the relational and logical operators.
###**If-Else**
In an If when the condition is added and it is true, it does an action. Just as we have an action for if it is true, the ELSE will indicate what action is going to be performed if the condition is false.

In [ ]:
print("Ages")
Pedro=18
Juan=25
Pablo=30
if Pablo>Juan and Pablo>Pedro:
  print("Pablo is greater than Pedro and Juan")

Ages
Pablo is greater than Pedro and Juan

In [ ]:
print("Ages")
Pedro=18
Juan=25
#In these case if you must declarate the variable
Age= int(input("how old are you"))
# After the condition you must put a colon (:) these indicate that the condition has already closed. After the if, everything that has an indentation will be taken as going inside the if
if Age>Juan and Age>Pedro:
  print("You are is greater than Pedro and Juan")
else:
     print("You are less than Juan or Predro")

Ages
how old are you18
You are less than Juan or Predro

##**Elif Coditional**
The elif statemet is used to include a second condition in case the first one is not fulfilled

In [ ]:
a=10
b=20
c=30
if a>b and a>c:
  print("a is greater than b and c")
elif b>a and b>c:
  print("b is grater than a and c")
else:
  print("c is greayer")

c is greayer

##**List**
Variable that can be used to store more than one value at the same time. The structure of a list is: name_of_the_list = [value1, value 2, value3]. To take a value from a list, you need to know its position. for example: name_of_the_list = [position].
The lists begin with the index 0 that is to say that to show position 1 you have to put 0, to show position 3 you have to put 2, that is, to know the number that you are going to put inside the brackets of the print, you have to use this formula
position-1

In [1]:
group= ["a", "b", "c"]
participation= ["1","2", "3"]
print("The number of participation of group",group[2])
print("is", participation[2])

The number of participation of group c
is 3

##**Loop**
A loop is several lines of code that will be repeated a certain or indeterminate number of times

![Bucle](https://ideascale.com/wp-content/uploads/2018/02/java_iterate-1.jpg)

##**While loop**

It is known to have an indeterminate number of repetitions.
For it to be executed, a condition must be met and it is repeated indefinitely.

In [2]:
# first declare a variable and request the data, in this case a number

Age= int(input("write you age: "))
while Age<18:
  print("You cannot continue. You are a minor.")
  Age= int(input("write you age: "))
  #If you want to get out of the loop, you just have to remove the bleed
print("You can continue. Welcome")

write you age: 17
You cannot continue. You are a minor.
write you age: 18
You can continue. Welcome

##**Determined While Loop**
For a given cycle an iterator variable is declared

In [3]:
i=0
#For the regular the iterator variable is "i" and igual to 0
while i<11:
  print("follow me on Instagram")
  i += 1

follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram
follow me on Instagram

In [4]:
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

##**For loop**
This loop is known to have a certain number of iterations

In [5]:
#For

for i in [1,2,3,4,5]:
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [9]:
for i in ["Hello", "Maya", 1, 2, 9]:
  print("Hi")

Hi
Hi
Hi
Hi
Hi

In [10]:
for i in ["Hello", "Maya", 1, 2, 9]:
  print(f"Data: {i}" )

Data: Hello
Data: Maya
Data: 1
Data: 2
Data: 9

In [13]:
values = int(input("How many subjects are you taking? "))
subjects = []
total = 0
for i in range(0,values):
    x = int(input("Write your qualifications:  "))
    subjects.append(x)
    total += x
print("This is your qualifications: ")

for subject in subjects:
    print(subject, end = ' ')

grade_point_average= total/values

print(f"\n\nYou grade point average is = {grade_point_average}")

How many subjects are you taking? 4
Write your qualifications:  8
Write your qualifications:  9
Write your qualifications:  10
Write your qualifications:  10
This is your qualifications:
8 9 10 10

You grade point average is = 9.25